{#
  ./templates/posts/latest.html.twig
  Variables disponibles:
    - posts Array(posts(id, slug, titre))
#}




  <ul class="recent-posts">
      {% for post in posts %}

        <li><a href="{{ path('app_posts_show', {
                        'id': post.id,
                        'slug': post.slug
                  }) }}">{{ attribute(post, 'titre' ~ app.request.locale) }}</a></li>


      {% endfor %}
  </ul>
